header {
    background: #1c1c1c;
}
.header-top {
    padding: 15px 0;
    color: #fff;
    a {
        color: #fff;
    }
    .logo {
        img {
            height: 65px;
        }
    }
}
.ctn-head {
    display: flex;
    justify-content: space-between;
}
.header-cart {
    margin-left: 30px; 
    position: relative;
    &:hover {
        .hver-cart {
            transition: .3s all;
            transform: scale(1);
        }
    }
    a {
        display: flex;
        height: 38px;
        align-items: center;
        padding: 3px 25px 0px 20px; 
        color: #fff;
        border: 1px solid #fff;
        border-radius: 6px;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        i {
            margin-left: 10px;
            position: relative;
            top: -1px;
        }
        label {
            position: absolute;
            width: 15px;
            height: 15px;
            background: $yellow;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            border-radius: 100%;
            top: 2px;
            right: 13px;
        }
    }
}
.box-hotline {
    span {
        display: block;
        color: #fff;
    }
    a {
        font-size: 20px;
        font-weight: bold;
    }
}
.box-search {
    position: relative;
    width: 500px;
    margin-right: 20px;
    input {
        height: 35px;
        padding: 0 10px;
        font-size: 14px;
        width: 100%;
        border: 0;
        border-radius: 4px;
    }
    button {
        position: absolute;
        height: 35px;
        top: 0;
        right: 0;
        border: 0;
        font-size: 14px;
        background: $yellow;
        color: #fff;
        padding: 0 15px;
        border-radius: 0 4px 4px 0;
    }
}
.left-bottom {
    margin-top: 8px;
    font-size: 14px;
    i {
        margin-right: 6px;
    }
}
.header-menu {
    background: #818285;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 102;
    transition: .3s all;
    &.fixed-header {
        position: fixed;
        transition: .3s all;
    }
    a {
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 13px;
    }
    ul {
        display: flex;
        text-transform: uppercase;
    }
}
.menu-top {
    li {
        margin-right: 20px;
        // position: relative; 
        > a {
            color: #fff;
            height: 60px;
            font-weight: 600;
            .fa-home {
                font-size: 18px;
            }
            .fa-angle-down {
                margin-left: 8px;
            }
            &:hover {
                color: $yellow;
            }
        } 
        &:hover {
            .sub-menu {
                transform: scale(1);
                transition: .3s all;
            }
            .mega-menu {
                display: block;
            }
        }
    }
}
.mega-menu {
    background: #fff;
    padding: 10px 20px;
    z-index: 2;
    position: absolute;
    width: 800px;
    left: 0;
    transition: .3s all;
    top: 59px;
    border: 1px solid #ddd;
    display: none;
    .col-md-2 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    ul {
        display: block;
    }
    li {
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        margin-right: 0;
        &:last-child {
            border-bottom: 0;
        }
        h3 {
            a {
                font-weight: bold;
            }
        }
        a {
            color: $main;
            height: auto;
            text-transform: capitalize;
            font-weight: normal;
            font-size: 14px;
        }
    }
}
.sub-menu {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    width: 260px;
    z-index: 2;
    padding: 10px 20px;
    transition: .3s all;
    transform: scale(0);
    ul {
        display: block;
        li {
            padding: 10px 0;
            border-bottom: 1px solid #ddd;
            &:last-child {
                border-bottom: 0;
            }
        }
        a {
            color: $main;
            height: auto;
            text-transform: none;
            font-weight: normal;
            font-size: 15px;
        }
    }
}
.box-login-head {
    a {
        height: 40px;
        width: 40px;
        justify-content: center;
        position: relative;
        top: 10px;
        background: $yellow;
        border-radius: 100%;
    }
}
.menu-sale {
    a {
        display: flex;
        height: 32px;
        align-items: center;
        padding: 0 20px;
        border-radius: 6px;
        font-weight: 600;
    }
    .menu-tv {
        background: #000000;
    }
    .flash-sale {
        background: $yellow;
    }
}
.hver-cart {
    color: #000000;
    padding: 15px;
    background: #Fff;
    transition: .3s all;
    width: 345px;
    position: absolute;
    z-index: 2;
    top: 38px;
    transform: scale(0);
    right: 0;
}
.list-hver-cart {
    height: 235px;
    overflow: auto;
    a {
        padding: 0;
        border: 0;
        border-radius: 0;
        color: #000000;
        height: auto;
    }
    .pr {
        display: flex;
        padding-right: 30px;
        align-items: center;
        .avarta {
            flex: 0 0 60px;
            margin-right: 15px;

        }
        p {
            font-size: 14px;
        }
    }
    .item {
        display: flex;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        &:last-child {
            border: 0;
            padding-bottom: 0;
        }
        &:first-child {
            padding-top: 0;
        }
    }
    .remv {
        flex: 0 0 30px;
        text-align: right;
    }
}
.total-cart {
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    font-size: 15px;
    border-bottom: 2px solid #ddd;
}
.btn-hver-cart {
    padding-top: 10px;
    li {
        padding: 5px 0;
    }
    a {
        height: 40px;
        font-weight: bold;
        justify-content: center;
        &.view-cart {
            background: $yellow;
        }
        &.h-checkout {
            background: $red;
        }
    }
}
main {
    margin-top: 0;
    .fixed-header {
        margin-top: 60px;
    }
}
footer {
    background: #fff;
}
.info-desc {
    margin-bottom: 30px;
    ul {
        li {
            list-style: none;
            padding: 3px 0;
            a {
                font-weight: 600;
                color: $red;
            }
        }
    }
}
.footer-top {
    padding: 40px 0;
    .logo {
        margin-bottom: 30px;
        img {
            max-height: 90px;
        }
    }
}
.item-footer {
    &.ft-place {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
        padding: 15px;
        background: #f7f7f7;
        font-size: 15px;
        line-height: 1.9;
    }
    .tt-place {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border: 1px solid #000;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .box-place {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.title-ft {
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 4px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: .5px;
    i {
        margin-right: 10px;
    }
    span {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: #000000;
            bottom: -8px;
            right: 0;
        }
    }
}
.menu-ft {
    li {
        list-style: none;
        padding: 4px 0 4px 10px;
        position: relative;
        font-size: 15px;
        i {
            position: relative;
            left: -10px;
            transition: .3s all;
        }
        &:hover {
            i {
                transition: .3s all;
                left: -6px;
            }
        }
    }
}
.copyright {
    background: #1c1c1c;
    color: #fff;
    padding: 20px 0;
    a {
        color: #fff;
        font-weight: bold;
    }
    p {
        font-size: 14px;
    }
    .bct {
        img {
            height: 50px;
        }
    }
}
.footer-bott {
    padding-bottom: 40px;
}

.breadcrumbs {
    padding: 20px 0;
    a {
        font-size: 14px;;
        font-weight: 500;
    }
    li {
        position: relative;
        padding-right: 10px;
        &:after {
            content: "/";
            position: absolute;
            right: -4px;
            top: 0;
        }
        &:last-child {
            padding-right: 0;
            &:after {
                display: none;
            }
        }
    }
    span {
        font-size: 14px;
        font-weight: 500;
        display: block;
        text-align: right;
    }
}




.box-login {
    padding: 60px 0;
}
.form-login {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background: #fff;
    font-size: 14px;
    h3 {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    }
}
.item-login {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
    label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
    }
    input {
        width: 100%;
        height: 35px;
        padding: 0 10px;
        border: 1px solid #ddd;
        outline: none;
    }
    #rememb {
        padding: 0;
        width: 15px;
        position: relative;
        top: -3px;
        margin-right: 10px;

    }
    .btn-login {
        height: 40px;
        padding: 0 35px;
        font-weight: bold;
        letter-spacing: .5px;
        background: $yellow;
        border: 1px solid $yellow;
        color: #fff;
        &:hover {
            background: $red;
        }
    }
}