@import "fonts.scss";
$font: 'FontAwesome'; 
$main: #333333;
$yellow: #e6942b;
$red: #f43a3a;
.pb-60 {
    padding-bottom: 60px;
}
.pt-60 {
    padding-top: 60px;
}
.slick-slider {
    margin-bottom: 0; 
    img {
        display: inline;
    }
}
.slick-arrow {
    z-index: 2;
    position: absolute;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    transition: .3s all !important;
    cursor: pointer;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    top: calc(50% - 20px);
    outline: none !important;
    &:hover { 
        opacity: 1;
    }
    &.prev {
        left: -20px;
    }
    &.next {
        right: -20px;
    }
}  
.slick-dots {
    bottom: 0;
    position: unset;
    padding: 20px 0 0 0;
    li {
        width: 10px;
        height: 10px;
        background: $yellow;
        border-radius: 100%;
        button {
            display: none;
        }
        &.slick-active {
            background: $red;
        }
    }
}
@import "layout.scss";
.slide-prd-hot {
    margin: 0 -10px;
    .item-slide {
        padding: 0 10px;
    }
    &:hover {
        .slick-arrow {
            opacity: .6;
        }
        .slick-arrow.prev {
            left: -30px;
        }
        .slick-arrow.next {
            right: -30px;
        }
    }
}
.slide-banner {
    position: relative;
    margin-bottom: 25px;
    .item {
        position: relative;
    }
    .avarta {
        img {
            max-height: 500px;
            object-fit: cover;
            display: flex;
        }
    }
    .caption {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.67);
        color: #fff;
    }
    h1 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: .5px; 
    }
    h2 {
        font-size: 16px;
        padding: 20px 0 30px 0;
        font-weight: 500;
        letter-spacing: .5px;
    }
    .view-all {
        a {
            display: inline-flex;
            background: $yellow;
            color: #fff;
            font-size: 15px;
            padding: 0 30px;
            border-radius: 5px;
            height: 50px;
            align-items: center;
        }
    }
}
.title {
    border-bottom: 2px solid #b5b1b1;
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    h2 {
        font-size: 18px;
        font-weight: bold;
    }
    span {
        font-weight: bold;
        position: relative;
        display: inline-flex;
        &:after {
            content: "";
            width: 100%;
            height: 2px;
            background: #000000;
            position: absolute;
            bottom: -12px;
            left: 0;
        }
    }
    a {
        font-size: 14px;
        font-weight: 600;
        i {
            position: relative;
            margin-left: 5px;
        }
    }
}
.ctn-prd {
    background: #fff;
    padding: 25px 20px;
}
.item-prd {
    overflow: hidden;
    background: #Fff;
    &:hover {
        img {
            transform: scale(1.06);
        }
        .info {
            top: -55px;
            transform: .3s all;
        }
    }
    .avarta {
        position: relative;
        .sale-abs {
            position: absolute;
            top: 10px;
            left: 10px;
            background: #fff000;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            font-weight: 600;
            font-size: 12px;
            span {
                font-weight: 600;
            }
        }
    }
    .info {
        padding-top: 15px;
        background: #fff;
        position: relative;
        transition: .3s all;
        top: 0;
        z-index: 2;
        h3 {
            a {
                display: block;
                font-size: 15px;
                line-height: 1.4;
                font-weight: 500;
                margin: 0 0 5px 0;
                min-height: 50px;
            }
        }
        .price {
            label {
                font-size: 16px;
                font-weight: bold;
                color: $red;
                margin-right: 15px;
            }
            del {
                font-size: 14px;
                color: #aaaaaa;
            }
        }
    }
    .add-cart {
        margin-top: 15px;
        position: absolute;
        bottom: -55px;
        width: 100%; 
        left: 0;
        a {
            display: flex;
            height: 35px;
            justify-content: center;
            background-color: #fe2c2b;
            font-size: 14px;
            align-items: center;
            color: #fff;
            &:hover {
                background: $yellow;
            }
        }
    }
}
.list-grid {
    .item-grid {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    img {
        height: 220px;
        object-fit: cover;
    }
    .col-md-4 {
        &:nth-child(2) {
            img {
                height: 470px;
            }
        }
    }
}
.item-grid {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.22);
    .avarta {
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, #323232 0%, #3232327d 33%);
            position: absolute;
            top: 0;
            left: 0;
            opacity: .3;
            pointer-events: none;
        }
        a {
            display: flex;
        }
    }
    span {
        color: #f1f1f1;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        position: absolute;
        top: 20px;
        left: 0;
        padding: 0 20px;
        width: 100%;
        display: block;
        font-weight: 600;
        z-index: 2;
        color: #fff;
        font-size: 18px;
        transition: .5s all;
        pointer-events: none;
    }
    &:hover {
        span {
            top: 15px;
            transition: .5s all;
        }
    }
}
.slide-bst {
    margin: 0 -10px;
    .item-slide {
        padding: 0 10px;
    }
}
.item-bst {
    img {
        height: 238px;
        object-fit: cover;
        width: 100%;
    }
    .info {
        a {
            display: flex;
            font-size: 18px;
            font-weight: normal;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            opacity: .6;
            i {
                transition: .3s all;
                overflow: hidden;
                width: 0px;
                margin-left: 12px;
            }
        }
    }
    &:hover {
        img {
            transform: scale(1.06);
        }
        .info a {
            opacity: 1;
            i {
                transition: .3s all;
                width: 20px;
            }
        }
    }
}
.list-prd-hot {
    .row {
        margin: 0 -10px;
        .col-md-3 {
            padding: 10px 10px;
            border: 1px solid #ddd;
        }
    }
}
.info-filter {
    h2 {
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .link-all {
        display: inline-flex;
        margin-top: 20px;
        height: 40px;
        border: 1px solid #aaa;
        padding: 0 30px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: bold;
        border-radius: 4px;
        &:hover {
            background: $red; 
            color: #fff;
            border: 1px solid $red;
        }
    }
}
.item-filter {
    li {
        padding: 3px 0;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: .5px;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 16px;
        height: 16px;
        border: 1px solid #000;
        border-radius: 3px;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: "\f00c";
        position: absolute;
        top: 0px;
        left: 3px;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
        font-family: fontawesome;
        font-size: 11px;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
        color: #fff;
    }
    [type="radio"]:checked + label:before {
        border: 1px solid $red;
        background: $red;
    }
}
.title-filter {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {
        color: $red;
    }
}
.item-filter {
    margin-bottom: 10px;
    background: #fff;
    padding: 15px;
    ul {
        padding-top: 10px;
    }
    button {
        height: 42px;
        background: $red;
        width: 100%;
        border: 0;
        color: #fff;
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 14px;
        outline: none;
        &:hover {
            background: $yellow;
        }
    }
}
.product {
    padding: 0 0 60px 0;
    .pagination {
        padding-top: 20px;
    }
}
.filter {
    position: sticky;
    top: 80px;
}
.item-product {
    box-shadow: 2px 2px 20px #00000026;
    .info {
        padding: 15px;
        .add-cart {
            margin-top: 0;
            // bottom: -40px;
            a {
                background: $yellow;
            }
        }
    }
}
.list-product {
    .row {
        margin: 0 -10px;
        .col-md-4 {
            padding: 0 10px;
            margin-bottom: 20px;
        }
    }
}
.pagination {
    li {
        margin-right: 2px !important;
    }
    a {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        background: #fff;
        &:hover, &.active {
            background: $yellow;
            color: #fff;
        }
    }
}

.decs-prd {
    padding: 25px;
    background: #fff;
    .tt-desc { 
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
    }
}
.detail {
    font-size: 15px;
    color: #777777;
    ul {
        list-style: unset;
        padding-left: 18px;
        li {
            padding: 4px 0;
        }
    }
}
.info-preview {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    position: sticky;
    top: 80px;
    h1 {
        font-size: 20px;
        font-weight: 500;
        color: $yellow;
        margin-bottom: 10px;
    }
    .social {
        margin-bottom: 10px;
        a {
            display: flex;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            border: 2px solid #777777;
            color: #777777;
            &:hover {
                border: 2px solid $red;
                color: #fff;
                background: $red;
            }
        }
    }
    .price {
        padding: 10px 0;
        span {
            font-weight: bold;
            color: $red;
            padding-right: 15px;
        }
        del {
            font-size: 12px;
            color: #777777;
        }
    }
    .quantity {
        margin-bottom: 15px;
    }
}
.number-spinner {
    display: flex;
    span {
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #ddd;;
    }
    input {
        width: 30px;
        height: 30px;
        border: 0;
        text-align: center;
        outline: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}
.btn-product {
    ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 0 -5px;
        li {
            box-sizing: border-box;
            flex: 0 0 50%;
            padding: 5px;
        }
    }
    a {
        display: flex;
        height: 40px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #fff;
        border-radius: 6px;
        &.add-cart {
            background: $yellow;
        }
        &.buy-it {
            background: #747474;
        }
        &.fb, &.phone {
            background: $red;
        }
    }
}
.app-figure {
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
}
.MagicZoom {
    // max-width: 100% !important;
    // width: 100%;
    figure {
        // max-width: 100% !important;
        // width: 100%;
    }
    img {
        max-width: 100% !important;
        max-height: 430px !important;
        object-fit: cover;
    }
}
.selectors {
    padding-top: 10px;
    margin: 0 -5px;
    a {
        padding: 0 5px;
    }
    img {
        width: 100%;
    }
}

.cart-right {
    background: #fff;
    padding: 25px 15px;
    position: sticky;
    top: 80px;
    li {
        margin-bottom: 10px;
        font-size: 14px;
        &:last-child {
            margin-bottom: 0;
        }
        p {
            font-weight: bold;
            font-size: 18px;
            color: red;
        }
        &.d-flex {
            border-bottom: 1px solid #ddd;
            padding-bottom: 6px;
        }
        input {
            height: 40px;
            width: 100%;
            padding: 0 10px;
            border-radius: 0;
            border: 1px solid #ddd;
        }
        button {
            width: 100%;
            height: 40px;
            border: 0;
            background: #ddd;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 15px;
        }

    }
    h3 {
        font-size: 14px;
        font-weight: bold;
        letter-spacing: .5px;
        border-bottom: 2px solid #ddd;
        padding-bottom: 5px;
        margin-bottom: 15px;
        i {
            position: relative;
            margin-right: 10px;
        }
    }
    .go-checkout {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        background: $red;
        margin: 20px 0;
    }
}
.head-cart {
    display: flex;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    .h-cart {
        flex: 0 0 120px;
        &:last-child {
            flex: 0 0 40px;
        }
        &:first-child {
            flex: 0 0 calc(100% - 400px);
        }
    }
}
.item-cart {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }
    .cart-inf {
        flex: 0 0 120px;
        &:last-child {
            flex: 0 0 40px;
        }
        &:first-child {
            flex: 0 0 calc(100% - 400px);
        }
    }
    .price {
        color: $red;
        font-weight: 500;
    }
}
.cart-prd {
    display: flex;
    align-items: center;
    padding-right: 15px;
    .avarta {
        flex: 0 0 60px;
        margin-right: 10px;
    }
    h4 {
        a {
            display: block;
            font-size: 14px;
        }
    }
}
.cart-left {
    background: #fff;
    padding: 20px 15px;
    margin-bottom: 30px;
}
.btn-cart {
    a {
        display: flex;
        height: 35px;
        align-items: center;
        padding: 0 25px;
        font-size: 14px;
        font-weight: 500;
        i {
            position: relative;
            margin-right: 20px;
        }
        &.contn {
            border: 2px solid $red;
            color: $red;
            &:hover {
                color: #fff;
                background: $red;
            }
        }
        &.update-cart {
            background: $red;
            color: #fff;
            &:hover {
                color: #fff;
                background: $yellow;
            }
        }
    }
}
.code-sale {
    font-size: 15px;
    margin-bottom: 20px;
    p {
        a {
            color: $red;
        }
    }
}
.box-code-sale {
    margin-top: 15px;
    padding: 20px;
    border: 2px dashed $yellow;
    display: none;
    .inp-sale {
        margin-top: 10px;
        position: relative;
    }
    input {
        height: 35px;
        width: 100%;
        border: 0;
        padding: 0 10px;
        box-shadow: 0px 0px 6px #ddd;
    }
    button {
        height: 35px;
        border: 0;
        padding: 0 15px;
        font-size: 14px;
        font-weight: bold;
        background: $yellow;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        outline: none;
        &:hover {
            background: $red;
        }
    }
}
.form-checkput {
    border-top: 2px solid #ddd;
    padding-top: 20px;
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}
.list-form {
    .item {
        margin-bottom: 15px;
        label {
            display: block;
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 5px;
        }
        input, textarea, select {
            width: 100%;
            height: 35px;
            padding: 0 10px;
            border: 1px solid #ddd;
            outline: none;
            font-size: 14px;
        }
        textarea {
            height: 100px;
        }
    }
}

.box-order {
    margin-top: 20px;
    border: 2px solid $yellow;
    background: #fff;
    position: sticky;
    top: 80px;
    padding: 20px;
    h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    ul {
        font-size: 14px;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0;
            border-bottom: 1px solid #ebebeb;
            span {
                padding-right: 25px;
            }
            p {
                font-weight: bold;
                color: $red;
                font-size: 18px;
            }
        }
    }
    .desc {
        font-size: 15px;
        padding: 15px 0;
    }
    .policy {
        font-size: 13px;
        padding-top: 15px;
        a {
            color: $red;
        }
    }
    input {
        height: 40px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .5px;
        color: #fff;
        background: $red;
        border: 0;
        padding: 0 25px;
        font-size: 14px;
    }
}
.head-order {
    font-size: 15px;
    font-weight: bold;
    color: #777777;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 5px;
    margin-bottom: 10px;
}